<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Cadastro de Crianca</title>
    </head>
    <body>
        <form method="POST" action="cadastra">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite o nome da crianca: ">
            </div>
            <div>
                <label for="cpf">CEP:</label>
                <input type="text" id="cep" name="cep" placeholder="Digite o CEP de seu endereço: ">
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" placeholder="Digite o E-mail:">
            </div>
            <div>
                <label for="usuario">Usuário:</label> 
                <input type="text" id="usuario" name="usuario" placeholder="Digite o Usuário: ">
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Digite a Senha: ">
            </div>
            <input type="submit" name="enviar" value="Cadastrar"> <input type="reset" name="limpar" value="Limpar">
        </form>
        <br>
        <a href="index">Página Inicial</a>
    </body>
</html>